
.cardContainer {
  perspective: 1000px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  align-items: center;
  justify-content: center;
}

.frontFace {
  z-index: 2;
}

.backFace {
  transform: rotateY(180deg);
  z-index: 1;
}

.cardContainer:hover .card {
  transform: rotateY(180deg);
}
